.loginComponent {
  background-color: var(--block-background-color);
  margin: 0 auto;
  width: 20rem;
  padding: 1rem 0;
  border-radius: 8px;
  border-color: var(--block-border-color);
  border-style: solid;
}

.loginComponent form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputBlock label {
  margin-bottom: 0.1rem;
}

.inputBlock input {
  margin-bottom: 0.5rem;
}

.passwordLabelBlock {
  display: flex;
  width: 100%;
  margin-bottom: 0.1rem;
}

.loginButton {
}

.toggleVisibleButton {
  cursor: pointer;
  margin-left: auto;
  border-radius: 3px;
  border-color: #000000;
  border-width: 0.02rem;
  padding: 0 0.2rem;
  font-size: smaller;
  align-self: flex-end;
  border-style: solid;
}

.errorMessageBlock {
  position: absolute;
  bottom: 36vh;
  width: 33vw;
  color: red;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 4px;
  border-radius: 2px;
}

.errorMessageBlock::before {
  --triangle-width: 12px;
  position: absolute;
  top: calc(var(--triangle-width) * -1 - 1px);
  border-top-width: 0px;
  border-left-width: var(--triangle-width);
  border-right-width: var(--triangle-width);
  border-bottom-width: var(--triangle-width);
  border-style: solid;
  border-color: transparent;
  border-bottom-color: black;
  content: "";
}

@media (max-width: 415px) {
  .loginComponent {
    width: auto;
  }
}
